<p id="notice"><%= notice %></p>
<div class='well'>
  <div class='row'>
    <div class='col-md-3'>
  <strong>Date:</strong>
  <%= @purchase_order.date %>
</div>
  <strong>Purchase order number:</strong>
  <%= @purchase_order.purchase_order_number %>
</div>
<p>
  <strong>Items:</strong><br>
  <% @purchase_order.items.each do |item| %>
<!--     <div class='box'>
 -->    	<%= item.name_and_number %><br>
      <!-- < item.supplier %><br> -->
      <em>Amount Ordered</em>
      <% @q.each do |q| %>
        <% if q.item_id == item.id %>
          <%= q.amount %><br>
          <% if q.amount_received && q.amount_remaining %>
            <em>Amount received: <%= q.amount_received %></em><br>
            <em>Amount remaining: <%= q.amount_remaining %></em>
          <% end %>
        <% end %>
      <% end %><br><br>
    <!-- </div> -->
  <% end %>
</p>
<p>
  <strong>Supplier:</strong>
  <% if @purchase_order.supplier %>
  <%= @purchase_order.supplier.name %>
  <% end %>
<!--   < @purchase_order.items.each do |item| %>
    < item.suppliers.each do |supplier| %>
      < supplier.name %>
    < end %>
  < end %> -->
</p>
<p>
  <strong>Description:</strong>
  <%= @purchase_order.description %>
</p>
<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@purchase_order.cost) %>
</p>
<p>
  <strong>Estimated Arrival:</strong>
  <%= @purchase_order.estimated_arrival %>
</p>
(add days till arrival)
<p>
  <strong>Status:</strong>
  <% if @purchase_order.status %>
    <%= "Received" %>
   <% else %>
    <%= "Pending" %>
  <% end %>
</p>
<p>
<!-- TO DO: update for when a PO is received in multiple lots, this date should
            either be most recent received, or when PO is complete -->
  <strong>Date Received:</strong>
  <%= Reception.where(purchase_order_id: @purchase_order.id)[0].date if Reception.where(purchase_order_id: @purchase_order.id)[0] %>
</p>
</div>
<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
