<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase order:</strong>
  <%= @order.purchase_order_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @order.supplier_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
