<div class="well">
  <%= simple_form_for(@item, html: {class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

  <!--   < if @item.errors.any? %>
      <div id="error_explanation">
        <h2>< pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        < @item.errors.full_messages.each do |msg| %>
          <li>< msg %></li>
        < end %>
        </ul>
      </div>
    < end %> -->

    <div class="field">
      <%= f.input :part_number %>
      <%= f.input :revision %>
      <%= f.input :current_rev %>
      <%= f.input :in_inspection_qty %>
      <%= f.input :stock_qty %>
      <%= f.input :ncmr_qty %>
      <%= f.input :on_order_qty %>
      <%= f.input :name, required: false%><br>
      <%= f.association :suppliers %>
    </div>

    <div class="links">
      <%#= link_to_add_association 'Add additional supplier', f, :parts %><br><br>
    </div>

    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>