<div class="well">
<%= simple_form_for(@item, html: {class: 'form-horizontal' }) do |f| %>
<%= f.error_notification %>

<!--   < if @item.errors.any? %>
    <div id="error_explanation">
      <h2>< pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      < @item.errors.full_messages.each do |msg| %>
        <li>< msg %></li>
      < end %>
      </ul>
    </div>
  < end %> -->

  <div class="field">
    <%= f.input :part_number %>
    <%= f.input :revision %>
    <%= f.input :current_rev %>
    <%= f.input :name, required: false%><br>
<!--   , :input_html => { :class => "span6" }, :hint => "add your article titel here"  -->
    </div>
  <!-- <%#= f.simple_fields_for :parts do |part| %> Parts deleted -->
    <%#= render 'part_fields', :f => part %>
  <%# end %>
  <div class="links">
    <%#= link_to_add_association 'Add additional supplier', f, :parts %><br><br>
  </div>
<!--   <div class="field">
    < f.input :on_order_qty %>
    < f.input :in_inspection_qty %>
    < f.input :stock_qty %>
    < f.input :ncmr_qty %>
  </div> -->
  <!-- </div> -->
  <!-- <div class="field"> -->
<!--     < f.label :in_inspection_qty %><br>
    < f.number_field :in_inspection_qty %> -->
  <!-- </div> -->
  <!-- <div class="field"> -->
<!--     < f.label :stock_qty %><br>
    < f.number_field :stock_qty  -->
  <!-- </div> -->
  <!-- <div class="field"> -->
<!--     < f.label :ncmr_qty %><br>
    < f.number_field :ncmr_qty %> -->
  <!-- </div> -->
  <!-- <div class="actions"> -->

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
</div>