<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Part number</th>
      <th>Revision</th>
      <th>Name</th>
      <th>On order qty</th>
      <th>In inspection qty</th>
      <th>Stock qty</th>
      <th>Ncmr qty</th>
      <!-- <th>Name and number</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.order(:part_number).each do |item| %>
      <tr>
        <td><%= link_to item.part_number, item_path(item.id) %></td>
        <td><%= item.revision %></td>
        <td><%= item.name %></td>
        <td><%= item.on_order_qty %></td>
        <td><%= item.in_inspection_qty %></td>
        <td><%= item.stock_qty %></td>
        <td><%= item.ncmr_qty %></td>
        <!-- <td>< item.name_and_number %></td> -->
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
