<h1>Items</h1>
<% if current_employee.email == "acockerham@tvamedical.com" %>
  <%= link_to 'New Item', new_item_path, class: 'btn btn-primary mybutton' %>
<% end %>
<br><br>
<table>
  <thead>
    <tr>
      <th>Part number</th>
      <th>Revision</th>
      <th>Name</th>
      <th>Inventory qty</th>
      <th>On order qty</th>
      <th>Purchase Order</th>
      <th>Expected Arrival Date</th>
      <th>In inspection qty</th>
    </tr>
  </thead>

  <tbody>
    <% @items.order(:part_number).each do |item| %>
      <tr>
        <td><%= link_to item.part_number, item_path(item.id) %></td>
        <td><%= item.revision %></td>
        <td><%= item.name %></td>
        <td><%= item.stock_qty %></td>
        <td><%= item.on_order_qty %></td>
        <td><% if item.on_order_qty > 0 && Quantity.where(item_id: item.id).order('created_at desc').first %>
              <%= link_to PurchaseOrder.where(id: Quantity.where(item_id: item.id).order('created_at desc').first.purchase_order_id).first.purchase_order_number, purchase_order_path(PurchaseOrder.where(id: Quantity.where(item_id: item.id).order('created_at desc').first.purchase_order_id))  %>
              <!-- TODO: check above and below line - probably creates erros b/c may not find the correct PO -->
            <% end %></td>
        <td>
          <% if item.on_order_qty > 0 %>
          <!-- urchaseOrder.where(id: Quantity.where(item_id: item.id).first.purchase_order_id) -->
            <%= link_to(PurchaseOrder.where(id: Quantity.where(item_id: item.id).order('created_at desc').first.purchase_order_id).first.estimated_arrival.to_formatted_s(:long), purchase_order_path(id: PurchaseOrder.where(id: Quantity.where(item_id: item.id).order('created_at desc').first.purchase_order_id))) if Quantity.where(item_id: item.id).order('created_at desc').first %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td><%= item.in_inspection_qty %></td>
        <!-- <td>< item.name_and_number %></td> -->
        <!-- <td>< link_to 'Edit', edit_item_path(item) %></td> -->
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- < Item.where(current_rev: true).name %> -->