<h1>Listing lots</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Initial qty</th>
      <th>Current qty</th>
      <th>Item</th>
      <th>Cleaned</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.number %></td>
        <td><%= lot.initial_qty %></td>
        <td><%= lot.current_qty %></td>
        <td><%= Item.find(lot.item_id).name %></td>
        <td><%= lot.cleaned %></td>
        <td><%= lot.status %></td>
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path %>
