<h1>Lot Number Log</h1>

<table>
  <thead>
    <tr>
      <th>Lot Number</th>
      <th>Item</th>
      <th>Received Quantity</th>
      <th>Inventory Quantity</th>
      <th>Cleaned?</th>
      <th>Status</th>
      <th>Date Received</th>
      <th>Purchase Order</th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= link_to lot.number, lot_path(lot.id) %></td>
        <td><%= link_to Item.find(lot.item_id).number_rev_name, item_path(Item.find(lot.item_id).id) %></td>
        <td><%= lot.received_qty %></td>
        <td><%= lot.inventory_qty %></td>
        <td><%= lot.cleaned %></td>
        <td><%= lot.status %></td>
        <td><%= lot.received_date.to_formatted_s(:long) if lot.received_date %></td>
        <td><%= lot.purchase_order.purchase_order_number if lot.purchase_order %></td>
        <!-- <td>< link_to 'Show', lot %></td> -->
        <td><% if lot.inventory_qty > 0%>
              <%= link_to 'Pull', pull_path(lot.id) %><% end %></td>
              <!-- < else %> Completed-->
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Receive New Lot', new_lot_path, class: 'btn btn-primary' %>
