<p>
  <strong>Lot Number:</strong>
  <%= @lot.number %>
</p>
<p>
  <strong>Item:</strong>
  <%= Item.find(@lot.item_id).number_rev_name %>
</p>
<p>
  <strong>Supplier:</strong>
  <%= @lot.item.suppliers.first.name %>
</p>
<p>
  <strong>Received Quantity:</strong>
  <%= @lot.received_qty %>
</p>
<p>
  <strong>Accepted Quantity:</strong>
  <%= @lot.accepted_qty %>
</p>
<p>
  <strong>Inventory Quantity:</strong>
  <% if !@lot.cleaned %>
    Pending Cleaning
  <% else %>
    <%= @lot.inventory_qty %>
  <% end %>
</p>
<% if @lot.cleaned %>
<p>
  <strong>Date Cleaned:</strong>
    <%= @lot.date_cleaned.to_formatted_s(:long)  %>
</p>
<% end %>
<p>
  <strong>Cleaned:</strong>
  <%= @lot.cleaned %>
</p>
<p>
<strong>Status:</strong>
  <%= @lot.status %>
</p>
<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
