<p id="notice"><%= notice %></p>

<p>
  <strong>Lot Number:</strong>
  <%= @lot.number %>
</p>

<p>
  <strong>Initial qty:</strong>
  <%= @lot.initial_qty %>
</p>

<p>
  <strong>Current qty:</strong>
  <%= @lot.current_qty %>
</p>

<p>
  <strong>Item:</strong>
  <%= Item.find(@lot.item_id).name_and_number %>
</p>

<p>
  <strong>Cleaned:</strong>
  <%= @lot.cleaned %>
</p>
<p>
<strong>Status:</strong>
  <%= @lot.status %>
</p>
<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
